#emailBg{
    width: 1400px;
    margin: auto;
    height: 552px;
    background-image: url('C:\Users\pande\OneDrive\Documents\MASAI PROJECT\Webure\webure\src\Assest\Group 2057.png');
    display: flex;
}