#startbg{
    background-image: url("C:\Users\pande\OneDrive\Documents\MASAI PROJECT\Webure\webure\src\Assest\Rectangle 338.png") , 
    url("C:\Users\pande\OneDrive\Documents\MASAI PROJECT\Webure\webure\src\Assest\Rectangle 339.png");
    background-repeat: no-repeat;
    background-position: bottom;
}